/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 16px;
}

ul{
    list-style-type: none;  
}

li{
    display: inline-block;
    padding: 5px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
    
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.overview-hero-image img{
    height: 80px;
    width: 100px;
    float: left;
}
.learn-about .container .cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    }
.card img{
    height: 80px;
    width: 100px;
    /* padding: auto; */

}
.card{
    height: 300px;
    width: 220px;
    /* border-radius: 5px;..............colours and font section */
    /* box-shadow: 30px ; .................colours and font section */
    
}